a {
  text-decoration: none;
}

nav {
  display: flex;
  background-color:rgb(0, 0, 0) ;
  border-bottom: 1px solid rgb(255, 255, 255);
  flex-direction: row;
  justify-content: center;
  width:100%;
}

ul {
  background: rgb(40, 38, 35, 0);
  list-style: none;
  margin: 0;
  padding-top: 6px;
  transform: translate(-0%, -0%)
}

.trionl{
  margin-top:3px;

}


.cart{
  margin-right: 15px
}
.cart, .acc{

  margin-top:6px;

}


li {
  color: #fff;
  background: rgb(0, 0, 0);
  display: inline-block;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  font-size: 20px;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: rgb(186, 186, 186);
}

ul li ul {
  background: rgb(40, 38, 35);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  top:0;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
  width: 111%;
  font-size: 20px;
  transform: translate(-26%, -0%);
  z-index: 9999;
}
.dropdown{
  position:absolute;
  background: rgb(121, 121, 121, 0);
  margin-top: 53px;
}


@media screen and (min-width:1700px) and (max-width:20000px){
  
  ul {

      transform: translate(-25%, -0%)
  
  }
  
  .trionl{

      transform: translate(-240%, -0%)
  }

  .cart, .acc{
  

      transform: translate(1350%, -0%)
  }
  
  ul li ul li {
      width: 111%;
      font-size: 20px;
      transform: translate(-2%, -0%);
  }
}
  
  
  
  
  
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Jost:ital,wght@0,100..900;1,100..900&family=Kablammo&family=Kavivanar&family=Shadows+Into+Light&family=Smooch&display=swap');
  
  * {
      font-family: "Jost", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
  }
    
  .emblem-logo {
      display: flex;
      border-top: 1px white solid;
      background-color: black;
      color: white;
      align-items: flex-start;
      flex-wrap: wrap;
  }
    
  .trionf {
      max-width: fit-content;
      margin-top: 25px;
      margin-left: 104px;
  }
    
  .main-text {
      margin-top: 15px;
      margin-bottom: 0px;
      padding-left: 10px;
      padding-right: 120px;
      font-size:3.5rem;
  }
  
  .trionf {
      margin-bottom: 20px;
  }
    
  .footer-nav {
      max-width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      font-size: 2.2rem;
  }
  
  .margining {
      margin-top: 19px;
      margin-bottom: 5px;
      margin-left: 30px; 
      margin-right: 30px;
  }
    
  .contact-margining {
      margin-top: 19px;
      margin-bottom: 5px;
      margin-left: 100px; 
      margin-right: 30px;
  }
    
  .footer-nav ul:nth-of-type(1) {
      border-bottom: 1px solid white;
      padding-left: 0;
  }
    
  .footer-nav ul:nth-of-type(2) {
      border-bottom: 1px solid white;
      padding-left: 0px;
      padding-right: 0px;
  }
    
  .footer-nav ul:nth-of-type(3) {
      border-bottom: 1px solid white;
      padding-left: 0px;
      padding-right: 0px;
  }
    
  .footer-nav ul:nth-of-type(4) {
      border-bottom: 1px solid white;
      padding-right: 0px;
      padding-left: 0px;
  } 
    
  .footer-nav ul:nth-of-type(5) {
      border-bottom: 1px solid white;
      padding-right: 0px;
      padding-left: 0px;
  } 
    
  /* nav.emblem-logo {
      
  } */
    
  .copyright {
      margin-right: 8px;
  }
    
  .privacy-notice {
      margin-left: 8px;
      text-decoration: underline;
  }
    
  li {
      list-style: none;
      font-size: 1.3rem;
  }
    
  .fb-icon {
      height: 75px;
      width: auto;
      /*margin-right: 30px;
      padding-top: 15px; */
  }
    
  .insta-icon {
      height: 75px;
      width: auto;
      /* padding-top: 15px; */
  }
    
  section.footer-nav {
      margin-left: 100px;
  }  
  
  h4 {
      margin: 0;
  }
  
  .social-media-icons {
      min-height: 206.8px;
      max-width: 180px;
      display: flex;
      flex-wrap: wrap;
  }
  
  /* svg.fb-icon, svg.insta-icon {
  
  } */
  
  .connect {
      display: flex;
      align-items: flex-start;
  }



.container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: xx-large;

 
}

  .box-1 {
    width: 800px;
    height: 1000px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    background: url(.vscode/pictures/blackw.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.425);
  }

  .box-2 {
    width: 800px;
    height: 1000px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    background: url(.vscode/pictures/trion-nemesis.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.425);
  }

  
.box-1 p{
  margin-top: 18em;
  margin-bottom: 3em;
  color: white;
}

.box-1 a{
  background-color: rgb(0, 0, 0);
  padding: 15px 75px;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  border: 1px solid white
}

.box-1 a:hover{
  background-color: rgb(255, 255, 255);
  transition: ease .25s;
  color: rgb(0, 0, 0);


}

.box-2 p{
  margin-top: 18em;
  margin-bottom: 3em;
  color: white;
}

.box-2 a{
  background-color: rgb(0, 0, 0);
  padding: 15px 75px;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  border: 1px solid white
}


.box-2 a:hover{
  background-color: rgb(255, 255, 255);
  transition: ease .25s;
  color: rgb(0, 0, 0);
}

body{
  background: linear-gradient(black, grey);
}

.model{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bl{
  color: white;
  font-size: xx-large;
  margin-left: 1em;
}

.nem{
  color: white;
  font-size: xx-large;
  margin-right: 2em;
}
a{
  color: white;
}