a {
    text-decoration: none;
  }
  
  nav {
    font-family: "Jost", sans-serif;
    display: flex;
    background-color:rgb(0, 0, 0) ;
    border: 0px solid rgb(18, 18, 186);
    flex-direction: row;
    justify-content: center;
    width:100%;
  }

  ul {
    background: rgb(40, 38, 35, 0);
    list-style: none;
    margin: 0;
    padding-top: 6px;
    transform: translate(-0%, -0%)
  }
  
  .trionl{
    margin-top:3px;
  
  }
  
  
  svg{
    margin-right: 15px
  }
  .cart, .acc{
  
    margin-top:6px;
  
  }
  
  
  li {
    color: #fff;
    background: rgb(0, 0, 0);
    display: inline-block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 20px;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
    background: rgb(186, 186, 186);
  }
  
  ul li ul {
    background: rgb(40, 38, 35);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    top:0;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
  }
  
  ul li ul li {
    width: 111%;
    font-size: 20px;
    transform: translate(-26%, -0%);
    z-index: 9999;
  }
  .dropdown{
    position:absolute;
    background: rgb(121, 121, 121, 0);
    margin-top: 53px;
  }
  
  
  @media screen and (min-width:2000px) and (max-width:2100px){
  
    ul {
  
        transform: translate(-25%, -0%)
    
    }
    
    .trionl{
  
        transform: translate(-200%, -0%)
    }
  
    .cart, .acc{
    
  
        transform: translate(1150%, -0%);
    }
    
    ul li ul li {
        width: 111%;
        font-size: 20px;
        transform: translate(-2%, -0%);
    }
  }

body{
  background: linear-gradient(black, grey);
}

[class^="box"] {
  color:white;
  font-size: 5px;
  text-shadow:4px 4px 0 rgba(0,0,0,0.1);
  padding:10px;
  border: 20px solid white;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
   background:rgba(0, 0, 0, 0.742);
   border: 2px solid white;
}


.flex-container {
  border:0px solid #0051ff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto ;
  align-items: center;
}

/*index CARD 1 */
.box1 {
  display: flex;
  flex-direction: row;
  margin-top: 30px; 
  font-size: 18px;
  width: 85%;
  height: 500px;
  transform: translate(8%,0%);
  justify-content: flex-end;
}

.title1{
  height: 40px;
  border: 0px solid blue;
  order:0;
  font-size: 50px;
  transform: translate(230%,10%);
}

.para1{
  height: 100px;
  border:0px solid blue;
  order:1;
  font-size: 35px;
  transform: translate(-4%,150%);
}

.img1{
  order:2;
  width: 33.3%;
}

.button1{
  font-size: 60px;
  padding-left: 15px;
  padding-right: 15px;
  height: 87px;
  order:1;
  border:1px solid white;
  background-color: rgba(0, 0, 0, 0.236);
  transform:translate(-345%,460%)
}
.button7{
  font-size: 30px;
  padding:15px;
  padding-right: 22px;
  order:1;
  border:1px solid white;
  background-color: rgba(0, 0, 0, 0.236);
  transform: translate(0%,30%);
}
/*index card 1*/

/*index CARD 2 */
.box2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px; 
  font-size: 18px;
  width: 85%;
  height: 500px;
  transform: translate(8%,0%);
  justify-content: flex-start;
}

.title2{
  height: 40px;
  border: 0px solid blue;
  order:0;
  font-size: 50px;
  transform: translate(430%,10%);
}

.para2{
  height: 100px;
  border:0px solid blue;
  order:1;
  font-size: 35px;
  transform: translate(-4%,200%);
}

.img2{
  order:0;
  width: 33.3%;
}
/*index card 2*/

/*index CARD 3 */
.box3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px; 
  font-size: 18px;
  width: 85%;
  height: 500px;
  transform: translate(8%,0%);
  justify-content: flex-end;
}

.title3{
  height: 40px;
  border: 0px solid blue;
  order:0;
  font-size: 50px;
  transform: translate(65%,10%);
}

.para3{
  height: 100px;
  border:0px solid blue;
  order:1;
  font-size: 35px;
  transform: translate(-45%,200%);
}

.img3{
  order:2;
  width: 33.3%;
}

.button3{
  font-size: 60px;
  padding-right: 15px;
  padding-left: 15px;
  height: 80px;
  order:1;
  border:1px solid white;
  background-color: rgba(0, 0, 0, 0.236);
  transform:translate(-345%,420%)
}
/*index card 3*/

.box4, .box5{
  margin:20px;
  width: 500px;
  height: 300px;
  font-size: 30px;
  transform: translate(20%,-47.9%);
  display: flex;
  align-items: center;
  flex-direction: column;
}


.box6, .box7{
  margin:20px;
  width: 500px;
  height: 300px;
  font-size: 30px;
  transform: translate(154%,-96%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.para6{
  transform:translate(8%,0%);
}

.para5{
  transform:translate(8%,0%);
}

.car3{
  transform: translate(12%, 4.8%)
}

.flex-container-nemisis{
  display: flex;
  flex-direction: row;
  border: 0px solid blue;
  background-color: rgba(0, 0, 0, 0.468);
  padding:20px;
  height: 650px;
}

.box1n{
  border: 0px solid white;
  margin:20px;
  width: 500px;
  height: 00px;
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title1n{
  transform: translate(60%,-100%);
}

.para1n{ 

  border: 0px solid blue;
  width: 900px;
  height: 500px;
  transform: translate(23%,-20%);
}

.flex-container-nemesis2{
  margin:60px;
  width: 60%;
  height:300px;
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  background-color: rgba(0, 0, 0, 0.652);
  padding:20px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.title2n{
font-size: 60px;
color: white;
transform: translate(-50%,20%);
}

.para2n{ 

  border: 0px solid blue;
}

.ext{
  color:white;
  font-size: 60px;
  padding-right: 15px;
  padding-left: 15px;
  height: 88px;
  margin-bottom: 20px;
  order:1;
  border:1px solid white;
  background-color: rgba(0, 0, 0, 0.236);
  transform: translate(160%,-70%);

}
.int{
  color:white;
  font-size: 60px;
  padding-right: 21px;
  padding-left: 21px;
  height: 88px;
  order:1;
  border:1px solid white;
  background-color: rgba(0, 0, 0, 0.236);
  transform: translate(160%,-70%);

}

a{
  color: white;
}
